<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:replace="includes/head :: head"></div>

<link rel="stylesheet" href="style/style.css">

<body>
<div th:replace="includes/header :: header"></div>

<div class="container">

    <div th:each="evento: ${evento}">
        <p>Nome: <span th:text="${evento.nome}"></span></p>
        <p>Local: <span th:text="${evento.local}"></span></p>
        <p>Data: <span th:text="${evento.data}"></span></p>
        <p>Horário: <span th:text="${evento.horario}"></span></p>
    </div>

    <th:block th:include="mensagemValidacao"></th:block>

    <form method="post">
        <label>Nome:
            <input class="text-input" type="text" value="" name="nomeParticipante"
                   placeholder="Fulaho de tal">
        </label>

        <label>rg:
        <input type="text" value="" name="rg" placeholder="00000000">
    </label>

        <button class="foo-button mdc-button" type="submit">Salvar</button>
    </form>

    <h5>Lista de participantes</h5>
    <table class="container">
        <thead>
        <tr>
            <th role="columnheader" scope="col">Nome</th>
            <th role="columnheader" scope="col">rg</th>
            <th role="columnheader" scope="col">Deletar</th>
        </tr>
        </thead>
        <tbody class="">
        <tr th:each="participante: ${participantes}">
            <td><span th:text="${participante.nomeParticipante}"></span></td>
            <td><span th:text="${participante.rg}"></span></td>
            <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarParticipante')
            .arg(0,participante.rg)).build()}">
                <i class="material-icons">delete</i></a></td>
        </tr>
        </tbody>

    </table>
    <!--qSZ4_E-xIzgGWpQhdeQlTovdqXgrW02jChowN1hu2pc-->
    <br>
    <br>
    <br>

</div>
<div th:replace="includes/footer :: footer"></div>

</body>

</html>