<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="includes/head :: head"></div>

<body>

<div th:replace="includes/header :: header"></div>

<div class="container">
    <br><br>
    <th:block th:include="mensagemValidacao"></th:block>
    <form method="post">
        <label>Nome:
            <input class="text-input" type="text" value="" name="nome" placeholder="Congresso de XGH">
        </label>
        <label>
            Local:
            <input type="text" value="" name="local" placeholder="Auditório">
        </label>
        <label>
            Data:
            <input type="date" value="" name="data" placeholder="12/12/12">
        </label>
        <label>
            Horario:
            <input type="time" value="" name="horario" placeholder="08:30">
        </label>
        <button class="foo-button mdc-button" type="submit">Salvar</button>
    </form>
</div>
<!--BORN TO RAISE HELL-->
<br>
<br>
<br>
<div th:replace="includes/footer :: footer"></div>
</body>
</html>