<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta charset="UTF-8">
    <title>EventoSpg</title>
</head>
<body>

    <div th:replace="includes/header :: header"></div>

<!--
     <nav class="light-blue lighten-1" role="navigation">
         <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">EventoSpg</a>

             <ul class="right hide-on-med-and-down">
                 <li><a href="/cadastrarEvento" class="btn-small waves-effect waves-light red">
                     <i class="material-icons left">add</i>
                     Cadastrar evento</a></li>
                 <li><a href="/eventos" class="btn-small waves-effect waves-light red">
                     <i class="material-icons left">list</i>
                     Todos os eventos</a></li>
             </ul>
             <ul id="nav-mobile" class="sidenav">
                 <li><i class="material-icons">add</i><a href="/cadastrarEvento">Cadastrar evento</a></li>
                 <li><a href="/eventos"><i class="material-icons left">list</i>Todos os eventos</a></li>
             </ul>
             <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         </div>
     </nav>-->

<table class="container">
    <thead>
    <tr>
        <th role="columnheader" scope="col">Nome</th>
        <th role="columnheader" scope="col">Local</th>
        <th role="columnheader" scope="col">Data</th>
        <th role="columnheader" scope="col">Horário</th>
    </tr>
    </thead>
    <tbody class="mdc-data-table__content">
    <tr th:each="evento : ${eventos}">
        <td>
            <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0,evento.id)).build()}">
                <span th:text="${evento.nome}"></span></a></td>
        <td><span th:text="${evento.local}"></span></td>
        <td><span th:text="${evento.data}"></span></td>
        <td><span th:text="${evento.horario}"></span></td>
    </tr>
    </tbody>
</table>


<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">P. Henrique </h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/p3dr0h3nr1qu3/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://github.com/C4st3ll4n?tab=repositories">Github</a></li>
                    <li><a class="white-text" href="https://gitlab.com/h3nr1qu3">Gitlab</a></li>
                    <li><a class="white-text" href="mailto:p13dr0h@gmail.com">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
</body>
</html>