<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<footer th:fragment="footer" class="page-footer red" style="bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">P. Henrique </h5>
                <p class="grey-text text-lighten-4">Desenvolvedor Java e Kotlin.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/p3dr0h3nr1qu3/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://github.com/C4st3ll4n?tab=repositories">Github</a></li>
                    <li><a class="white-text" href="https://gitlab.com/h3nr1qu3">Gitlab</a></li>
                    <li><a class="white-text" href="mailto:p13dr0h@gmail.com">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>